
.Header {
  background-color: gold;
  text-align: center;
  padding-top: 0px;
  font-family: "Lucida Console", Monaco, monospace;
  word-spacing: 5px;
  letter-spacing: 3px;
  font-size: 200%;
}


a {
    color: black;
}
.title {
    color: white;
}
body {
	text-align: center;
    background-color: black;
    color: white;
}

.info {
    font-size: 1.2em;
    padding-right: 5em;
    padding-left: 5em;
}
.Footer {
  background-color: white;
  text-align: center;
  height: auto;
}